{% extends 'base.html.twig' %}

{% block title %}Reset password
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-push-4">
				<h1>Récupération du mot de passe</h1>
				<hr>
				{% for message in app.flashes('notice') %}
					<div class="alert alert-warning" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				<form method="post">
					{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
					<button type="submit" class="btn btn-primary">Réinitialiser</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
