<div id="footer-wrapper" class="footer-image-bg">
	<section class="transparent-wrapper">
		<div class="section-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="widget about-us-widget">
							<h4 class="widget-title">
								<strong>Global</strong>
								Coverage</h4>
							<p>Professionally monetize team building materials for 24/7 results. Holisticly transition corporate platforms vis-a-vis cutting-edge experiences. Dynamically strategize ubiquitous applications for premier initiatives. Interactively seize resource sucking niche markets.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="widget">
							<h4 class="widget-title">
								<strong>Dernieres</strong>
								figures</h4>
							<div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="assets/img/widget/widget1.jpg" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">Blog Post A</a>
										</span>
										<small class="muted">Posted 14 April 2015</small>
									</div>
								</div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="assets/img/widget/widget2.jpg" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">Blog Post B</a>
										</span>
										<small class="muted">Posted 14 April 2015</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="widget">
							<h4 class="widget-title">Les catégories</h4>
							<div class="tagcloud">
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Les grabs</a>
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Les rotations</a>
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Les flips</a>
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Les rotations désaxées</a>
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Les slides</a>
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Les one foot tricks</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="white-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wow">
					<span class="copyright">Copyright 2021. Développé par damiengobert.fr</span>
				</div>
			</div>
		</div>
	</footer>
</div>
