<!-- FOOTER -->
<footer>
    <div class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><a href="#"><img
                            src="{{ asset('assets/img/snowtricks_logo_reverse.png') }}" alt=""
                            width="180" class="mb-3"></a>
                <p class="font-italic text-muted">Pour les passionnés de Snowboard. Postez votre figure, échangez avec des fans de la discipline !</p>

            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Nous suivre</h6>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item social_share"><a href="#" target="_blank" title="twitter"><i
                                    class="bi-twitter"
                                    style="color: black;"></i></a>
                    </li>
                    <li class="list-inline-item social_share"><a href="#" target="_blank" title="facebook"><i
                                    class="bi bi-facebook"
                                    style="color: black;"></i></a>
                    </li>
                    <li class="list-inline-item social_share"><a href="#" target="_blank" title="instagram"><i
                                    class="bi bi-instagram" style="color: black;"></i></a></li>
                    <li class="list-inline-item social_share"><a href="#" target="_blank" title="youtube"><i
                                    class="bi bi-youtube"
                                    style="color: black;"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4 tex">Les categories</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="footer_link">Les grabs</a></li>
                    <li class="mb-2"><a href="#" class="footer_link">Les rotations</a></li>
                    <li class="mb-2"><a href="#" class="footer_link">Les flips</a></li>
                    <li class="mb-2"><a href="#" class="footer_link">Les rotations désaxées</a></li>
                    <li class="mb-2"><a href="#" class="footer_link">Les slides</a></li>
                    <li class="mb-2"><a href="#" class="footer_link">Les one foot tricks</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4 bg-transparent">
        <div class="container text-center">
            <p class="mb-0 py-2 text-white">Copyright © 2021 www.damiengobert.fr</p>
        </div>
    </div>

</footer>
<!-- End -->
<!-- END FOOTER -->