<!-- Header -->
<header id="headerwrap" class="backstretched fullheight" style="background-image: url('assets/img/bg/bg2.jpg'); background-size:100% auto; background-repeat: no-repeat;">
	<div class="container vertical-center">
		<div class="intro-text vertical-center text-left smoothie">
			<div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Snowtricks</div>
			<div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Le site communautaire de snowboard,
				<span class="rotate">partagez avec la communauté, ajouter des figures</span>
			</div>
		</div>
	</div>
</header>
