{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/apAddTrick.js') }}"></script>
{% endblock %}

{% block body %}

    <section class="mt-5 mb-5">
        <div class="row text-center">
            <div class="col">
                <h2>Ajouter une figure</h2>
            </div>
        </div>
    </section>

    <section>
        <div class="section-inner">
            <div class="container">
                {{ form_start(form) }}
                {{ include("trick/_form.html.twig", {form: form}) }}
                {{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </section>
{% endblock %}
