{% extends 'base.html.twig' %}

{% block title %}Editer une figure{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/apAddTrick.js') }}"></script>
{% endblock %}

{% block body %}

    <section>
        <div class="container mt-5">
            {{ form_start(form) }}
            {{ include("trick/_form.html.twig", {form: form}) }}
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </section>
{% endblock %}
